.alert-light-danger {
  background-color: #FEEFD0 !important;
  color: #F55252  !important;
  border-color: #FEEFD0;
}



input {
  font-size: max(1vw, 10px);
}

label {
  font-size: max(1vw, 10px);
}

button {
  font-size: max(1vw, 10px);
}

.card-title {
  font-size: max(1.2vw, 12px);
}

.title {
  font-size: max(1.2vw, 12px);
}

i {
  font-size: max(1vw, 10px);
}

a {
  font-size:  max(1vw, 10px);
}

p {
  font-size:  max(1vw, 10px);
}
