input {
    font-size: max(1vw, 10px);
  }

  label {
    font-size: max(1vw, 10px);
  }

  button {
    font-size: max(1vw, 10px);
  }

  i {
    font-size: max(1vw, 10px);
  }


  .card-title {
    font-size: max(1.2vw, 12px);
  }

  .title {
    font-size: max(1.2vw, 12px);
  }
