<ng-template #accessDenied>
  <div class="data text-danger">(No Permission)</div>
</ng-template>
<ng-template #noAgent>
  <div class="data text-danger">No Agent</div>
</ng-template>

<div>
  <div class="row">
    <div class="col-4">
      <label class="icon-magnifier"> Search By Name or IC</label>
      <input
        #searchBox
        id="search-box"
        (input)="search(searchBox.value)"
        type="text"
        id="office-form-2"
        class="form-control"
        name="searchBar"
        [style]="'background-color: #E6E6FA'"
        placeholder="Search the Name column..."
      />
    </div>
  </div>
</div>
<br />
<div>
  <div class="row">
    <div class="col-sm">
      <button
        type="button"
        class="btn btn-primary position-relative"
        routerLink="/forms/createNewLoan"
        [queryParams]="{ isUnlimited: false }"
        *ngIf="httpService.role == 'SUPERADMIN'"
        [style.font-size]="'max(1vw, 10px)'"
      >
        <i class="icon-user-follow"></i> New Loan (Normal)
      </button>
    </div>

    <div class="col-sm">
      <button
        type="button"
        class="btn btn-primary position-relative"
        routerLink="/forms/createNewLoan"
        [queryParams]="{ isUnlimited: true }"
        [style.font-size]="'max(1vw, 10px)'"
        *ngIf="httpService.role == 'SUPERADMIN'"
      >
        <i class="icon-user-follow"></i> New Loan (Unlimited)
      </button>
    </div>

    <div class="col-sm">
      <button
        type="button"
        class="btn btn-primary position-relative"
        *ngIf="httpService.role == 'SUPERADMIN'"
        (click)="repayCheckedLoans()"
        [style.font-size]="'max(1vw, 10px)'"
      >
        <i class="icon-basket"></i>Repay checked loans
      </button>
    </div>
  </div>
</div>

<br />
<section id="Loans">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title" [style.font-size]="'max(1.3vw, 15px)'">
            Loans List
          </div>
        </div>
        <div class="card-content table-responsive">
          <div class="card-body">
            <ngx-datatable
              class="bootstrap core-bootstrap"
              [rows]="loans$ | async"
              [rowHeight]="'auto'"
              [externalPaging]="true"
              [count]="totalItems"
              [offset]="comboParam.currentPage"
              (page)="setPage($event)"
              [columnMode]="ColumnMode.force"
              [headerHeight]="50"
              [footerHeight]="50"
              [scrollbarH]="true"
              [style.font-size]="'max(1.2vw, 12px)'"
              [selected]="chkBoxSelected"
              selectionType="checkbox"
              (select)="customChkboxOnSelect($event)"
            >
              <ngx-datatable-column
                [width]="50"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
                *ngIf="httpService.role == 'SUPERADMIN'"
              >
                <ng-template
                  ngx-datatable-header-template
                  let-value="value"
                  let-allRowsSelected="allRowsSelected"
                  let-selectFn="selectFn"
                >
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      [checked]="allRowsSelected"
                      (change)="selectFn(!allRowsSelected)"
                    />
                  </div>
                </ng-template>
                <ng-template
                  let-row="row"
                  let-name="value"
                  ngx-datatable-cell-template
                  let-isSelected="isSelected"
                  let-onCheckboxChangeFn="onCheckboxChangeFn"
                >
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      [checked]="isSelected"
                      (change)="onCheckboxChangeFn($event)"
                    />
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="Action"
                prop="id"
                [width]="150"
                *ngIf="httpService.role == 'SUPERADMIN'"
              >
                <ng-template
                  let-row="row"
                  let-name="value"
                  ngx-datatable-cell-template
                  class="row"
                >
                  <div class="d-flex align-items-center">
                    <div class="cell-line-height">
                      <a>
                        <i
                          class="icon-hourglass fa-lg text-warning mr-2"
                          (click)="extendRepayment(row, content)"
                        ></i>
                      </a>

                      <a>
                        <i
                          class="ft-delete fa-lg text-danger mr-2"
                          (click)="deleteLoan(row, deleteModal)"
                        ></i>
                      </a>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="Customer Name"
                prop="id"
                [width]="300"
              >
                <ng-template
                  let-row="row"
                  let-name="value"
                  ngx-datatable-cell-template
                  class="row"
                >
                  <!-- *ngIf="
                          ['SUPERADMIN', 'COLLECTOR'].includes(
                            httpService.role
                          );
                          else notSuperAdmin
                        " -->
                  <div class="d-flex align-items-center">
                    <div class="cell-line-height">
                      <a
                        routerLink="/tables/customerDetails/{{
                          row.customer.id
                        }}"
                        class="text-info"
                      >
                        {{ row.customer.name }}
                      </a>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Package Name" prop="id" [width]="250">
                <ng-template
                  let-row="row"
                  let-name="value"
                  ngx-datatable-cell-template
                  class="row"
                >
                  <div class="d-flex align-items-center">
                    <div class="cell-line-height">
                      <a
                        routerLink="/tables/loanDetails/{{ row.id }}"
                        class="text-info"
                        *ngIf="
                          ['SUPERADMIN', 'COLLECTOR'].includes(
                            httpService.role
                          );
                          else notSuperAdmin
                        "
                      >
                        {{ row.name }}
                      </a>

                      <ng-template #notSuperAdmin>
                        <p>{{ row.name }}</p>
                      </ng-template>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="Agent Name"
                prop="id"
                [width]="250"
                *ngIf="
                  httpService.role == 'SUPERADMIN' ||
                  httpService.role == 'COLLECTOR'
                "
              >
                <ng-template
                  let-row="row"
                  let-name="value"
                  ngx-datatable-cell-template
                  class="row"
                >
                  <div class="d-flex align-items-center">
                    <div class="cell-line-height">
                      <a *ngIf="row.user; else noAgent" routerLink="/tables/user/{{ row.user?.id }}/edit">
                        {{ row.user?.name}}
                      </a>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="Application Date"
                prop="id"
                [width]="200"
              >
                <ng-template
                  let-row="row"
                  let-name="value"
                  ngx-datatable-cell-template
                  class="row"
                >
                  <div class="d-flex align-items-center">
                    <div class="cell-line-height">
                      <p>
                        {{ row.loanApplicationDate | date }}
                      </p>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <!--

              <ngx-datatable-column
                name="Next Repayment Date"
                prop="id"
                [width]="300"
              >
                <ng-template
                  let-row="row"
                  let-name="value"
                  ngx-datatable-cell-template
                  class="row"
                >
                  <div class="d-flex align-items-center">
                    <div
                      *ngIf="row.repayments[0]; else fullyPaidTemplate"
                      class="cell-line-height"
                    >
                      <p>
                        {{ row.repayments[0].targetRepaymentDate | date }}
                      </p>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="Next Repayment Amount"
                prop="id"
                [width]="300"
              >
                <ng-template
                  let-row="row"
                  let-name="value"
                  ngx-datatable-cell-template
                  class="row"
                >
                  <div class="d-flex align-items-center">
                    <div
                      *ngIf="row.repayments[0]; else fullyPaidTemplate"
                      class="cell-line-height"
                    >
                      <p>
                        {{ row.repayments[0].repaymentAmount }}
                      </p>
                    </div>
                    <ng-template #fullyPaidTemplate
                      ><div
                        *ngIf="row.repayments; else fullyPaidTemplate"
                        class="cell-line-height"
                        style="background-color: greenyellow"
                      >
                        <p>Fully paid</p>
                      </div></ng-template
                    >
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="Repayment Start Date"
                prop="id"
                [width]="300"
              >
                <ng-template
                  let-row="row"
                  let-name="value"
                  ngx-datatable-cell-template
                  class="row"
                >
                  <div class="d-flex align-items-center">
                    <div class="cell-line-height">
                      <p>
                        {{ row.loanApplicationDate | date }}
                      </p>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="Repayment Frequency"
                prop="id"
                [width]="200"
              >
                <ng-template
                  let-row="row"
                  let-name="value"
                  ngx-datatable-cell-template
                  class="row"
                >
                  <div class="d-flex align-items-center">
                    <div class="cell-line-height">
                      <p>
                        {{ row.loanRepaymentFrequency }}
                      </p>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="Repayment Amount"
                prop="id"
                [width]="300"
              >
                <ng-template
                  let-row="row"
                  let-name="value"
                  ngx-datatable-cell-template
                  class="row"
                >
                  <div class="d-flex align-items-center">
                    <div class="cell-line-height">
                      <p>
                        {{ row.loanSingleRepaymentAmount }}
                      </p>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                name="Repayment Total Count"
                prop="id"
                [width]="300"
              >
                <ng-template
                  let-row="row"
                  let-name="value"
                  ngx-datatable-cell-template
                  class="row"
                >
                  <div class="d-flex align-items-center">
                    <div class="cell-line-height">
                      <p>
                        {{ row.loanRepaymentTotalCount }}
                      </p>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="ID" prop="id" [width]="80">
                <ng-template
                  let-row="row"
                  let-name="value"
                  ngx-datatable-cell-template
                  class="row"
                >
                  <div class="d-flex align-items-center">
                    <div class="cell-line-height">
                      <p>
                        {{ row.id }}
                      </p>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column> -->
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      Extending loan {{ selectedLoan.name }} for
      {{ selectedLoan.customer.name }} ?
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input
      [(ngModel)]="targetRepaymentDate"
      type="date"
      id="loanDate-form-1"
      class="form-control"
      name="loanApplicationDate"
      [style.height]="'50px'"
      [style.font-size]="'max(1vw, 10px)'"
    />
    <div class="form-group">
      <label>Loan Repayment Amount</label>
      <div class="form-group col-6">
        <input
          [(ngModel)]="selectedLoan.repayments[0].repaymentAmount"
          type="number"
          id="repaymentAmount-form-1"
          class="form-control"
          name="repaymentAmount"
          [style.height]="'50px'"
          [style.font-size]="'max(1vw, 10px)'"
        />
      </div>
    </div>
    <div class="form-group">
      <label>Received Amount (if any)</label>
      <div class="form-group col-6">
        <input
          [(ngModel)]="selectedLoan.repayments[0].receivedAmount"
          type="number"
          id="loanedAmount-form-1"
          class="form-control"
          name="loanedAmount"
          [style.height]="'50px'"
          [style.font-size]="'max(1vw, 10px)'"
        />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Cancel')">
      Cancel
    </button>
    <button type="button" class="btn btn-secondary" (click)="c('Submit')">
      Submit
    </button>
  </div>
</ng-template>

<ng-template #deleteModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      DELETE loan {{ selectedLoan.name }} for {{ selectedLoan.customer.name }} ?
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Cancel')">
      Cancel
    </button>
    <button type="button" class="btn btn-secondary" (click)="c('Submit')">
      Submit
    </button>
  </div>
</ng-template>
